*, ::before, ::after {
  margin: 0;
  padding: 0;
}

body {
    background: #fafafa;
    font-weight: 800;
    font-family: 'arial black';
}

.animated-text {
  overflow: hidden;
  margin: 0;
  padding: 0 0 15px 0;
  display: flex;
  flex-direction: column;
  background: #111111;
  border-radius: 0 0 10px 10px;
}




.text {
  color: #fe4d01;
  font-weight: 800;
  text-align: center;
}
.bonjour a{
  color:#6105ff;
  text-align: center;
}
.bonjour {
  color: aliceblue;
  text-align: center;
}

.intro {
    display: inline-block;
    color: #e7e7e7;
    text-align: left;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation: 6s slidein ease-in-out infinite alternate;
    width: 100%;
}  


@keyframes slidein {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(150%);
  }
}   
