body {
    background-image: url("image/page.png");
    font-weight: 800;
    font-family: 'arial black';
}
.text {
    color: #fe4d01;
    font-weight: 800;
    text-align: center;
}
.bonjour a{
    color:#6105ff;
    text-align: center;
}
.bonjour {
    color: aliceblue;
    text-align: center;
}
.intro {
    color: #f4f80f;
}
.clk_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background: var(--boxBg);
    border: 1px solid #3e4173;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 15px;
    margin-bottom: 25px;
}
